<ion-header translucent="true">
  <ion-toolbar>
    <ion-title class="titulo-barra">🏆 Tabla de puntuaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding fondo">
  <div class="scores-container">
    <h2 class="titulo">
      <span class="icono-animado">🏆</span>
      <span class="titulo-texto">Tabla de puntuaciones</span>
    </h2>

    <div class="puntuaciones">
      <div *ngFor="let jugador of scores; let i = index"
           [ngClass]="'jugador-color-' + (i % 4)">
        {{ jugador.name }} - {{ jugador.score }} puntos
      </div>
    </div>

    <!-- 🔘 Botones de navegación desde puntuaciones -->
    <div class="botones">
      <ion-button class="boton-superior" expand="block" (click)="volverInicio()">Volver al inicio</ion-button>
      <ion-button class="boton-superior" expand="block" (click)="reiniciarPartida()">Reiniciar partida</ion-button>
    </div>
  </div>
</ion-content>












