.titulo {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #3880ff;
  }
  
  .texto-vacio {
    text-align: center;
    margin-top: 50px;
    font-size: 1.1rem;
    color: gray;
  }
  
  .botones {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  