<ion-header translucent="true">
  <ion-toolbar>
    <ion-title class="titulo">
      🏆 <span style="color: dodgerblue">Tabla de puntuaciones</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-list *ngIf="scores.length > 0">
    <ion-item *ngFor="let jugador of scores">
      <ion-label>
        {{ jugador.name }} - {{ jugador.score }} pts
      </ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="scores.length === 0" style="padding: 20px; text-align: center;">
    <p>No hay puntuaciones registradas.</p>
  </div>

  <div class="botones">
    <ion-button expand="block" color="primary" (click)="volverInicio()">Volver al inicio</ion-button>
    <ion-button expand="block" color="secondary" (click)="reiniciarPartida()">Reiniciar partida</ion-button>
  </div>
</ion-content>





