<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>En órbita, piloto!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div id="game-container"></div>

  <div class="button-container">
    <ion-button expand="block" color="medium" (click)="goHome()">Volver al Inicio</ion-button>
    <ion-button expand="block" color="medium" (click)="restartGame()">Reiniciar Partida</ion-button>
    <ion-button expand="block" color="medium" (click)="goToScores()">Ver Puntuaciones</ion-button>
  </div>
  
</ion-content>


